@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 20 20 20;

    --card: 255 255 255;
    --card-foreground: 20 20 20;

    --primary: 3 2 19;
    --primary-foreground: 255 255 255;

    --secondary: 240 240 244;
    --secondary-foreground: 3 2 19;

    --muted: 236 236 240;
    --muted-foreground: 113 113 130;

    --accent: 233 235 239;
    --accent-foreground: 3 2 19;

    --destructive: 212 24 61;
    --destructive-foreground: 255 255 255;

    --border: 0 0 0;
    --input: 214 214 219;
    --ring: 115 115 115;

    --radius: 0.625rem;
  }

  .dark {
    --background: 20 20 20;
    --foreground: 245 245 245;

    --card: 20 20 20;
    --card-foreground: 245 245 245;

    --primary: 245 245 245;
    --primary-foreground: 20 20 20;

    --secondary: 50 50 50;
    --secondary-foreground: 245 245 245;

    --muted: 50 50 50;
    --muted-foreground: 180 180 180;

    --accent: 50 50 50;
    --accent-foreground: 245 245 245;

    --destructive: 180 30 30;
    --destructive-foreground: 255 255 255;

    --border: 60 60 60;
    --input: 60 60 60;
    --ring: 90 90 90;
  }

  * {
    border-color: rgb(var(--border));
  }

  body {
    background-color: rgb(var(--background));
    color: rgb(var(--foreground));
  }
}
